@use '@angular/material' as mat;

// Define color palettes
$primary-palette: (
  0: #000000,
  10: #001a41,
  20: #002e68,
  25: #00397d,
  30: #004493,
  35: #004fa9,
  40: #005bc0,
  50: #0073ef,
  60: #4a8eff,
  70: #7fabff,
  80: #adc7ff,
  90: #d8e2ff,
  95: #edf0ff,
  98: #f9f9ff,
  99: #fefbff,
  100: #ffffff,
);

$secondary-palette: (
  0: #000000,
  10: #002106,
  20: #00390f,
  25: #004614,
  30: #00531a,
  35: #00601f,
  40: #006e25,
  50: #008a31,
  60: #27a644,
  70: #49c25c,
  80: #66df75,
  90: #83fc8e,
  95: #c7ffc4,
  98: #ebffe6,
  99: #f6fff0,
  100: #ffffff,
);

$tertiary-palette: (
  0: #000000,
  10: #410008,
  20: #680013,
  25: #7d0019,
  30: #92001f,
  35: #a80226,
  40: #ba1830,
  50: #dd3646,
  60: #ff525e,
  70: #ff8889,
  80: #ffb3b2,
  90: #ffdad9,
  95: #ffedec,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
);

$neutral-palette: (
  0: #000000,
  4: #000c13,
  6: #00121d,
  10: #001e30,
  12: #002236,
  17: #002d46,
  20: #003450,
  22: #003856,
  24: #003d5d,
  25: #003f60,
  30: #004b71,
  35: #005783,
  40: #006495,
  50: #107eb8,
  60: #3d98d4,
  70: #5db3f1,
  80: #8fcdff,
  87: #b9dfff,
  90: #cbe6ff,
  92: #d6ebff,
  94: #e1f0ff,
  95: #e7f2ff,
  96: #ecf4ff,
  98: #f7f9ff,
  99: #fcfcff,
  100: #ffffff,
);

$neutral-variant-palette: (
  0: #000000,
  10: #191c22,
  20: #2d3038,
  25: #393b43,
  30: #44474f,
  35: #50525a,
  40: #5c5e66,
  50: #74777f,
  60: #8e9099,
  70: #a9abb4,
  80: #c4c6d0,
  90: #e1e2ec,
  95: #eff0fa,
  98: #f9f9ff,
  99: #fefbff,
  100: #ffffff,
);

$error-palette: (
  0: #000000,
  10: #410002,
  20: #690005,
  25: #7e0007,
  30: #93000a,
  35: #a80710,
  40: #ba1a1a,
  50: #de3730,
  60: #ff5449,
  70: #ff897d,
  80: #ffb4ab,
  90: #ffdad6,
  95: #ffedea,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
);

// Aggregate palettes
$_palettes: (
  primary: $primary-palette,
  secondary: $secondary-palette,
  tertiary: $tertiary-palette,
  neutral: $neutral-palette,
  neutral-variant: $neutral-variant-palette,
  error: $error-palette,
);

// Combine palettes into theme color structure
$_primary: map-merge(map-get($_palettes, primary), (
  secondary: map-get($_palettes, secondary),
  neutral: map-get($_palettes, neutral),
  neutral-variant: map-get($_palettes, neutral-variant),
  error: map-get($_palettes, error),
));

$_tertiary: map-merge(map-get($_palettes, tertiary), (
  secondary: map-get($_palettes, secondary),
  neutral: map-get($_palettes, neutral),
  neutral-variant: map-get($_palettes, neutral-variant),
  error: map-get($_palettes, error),
));


$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
));


// Export the theme mixin
@mixin light-theme {
  @include mat.all-component-themes($light-theme);
}


$custom-gray: (
  10: #f5f5f5, // very light gray
  20: #eeeeee, // light gray
  30: #e0e0e0, // lighter gray
  40: #bdbdbd, // medium gray
  50: #9e9e9e, // default gray
  60: #757575, // dark gray
  70: #616161, // darker gray
  80: #424242, // very dark gray
  90: #212121, // almost black
);
